// Colours.
$col_header: rgba(#ddd, 0.95) !default;
$col_footer: rgba(#fff, 0.95) !default;
$col_border: rgba(#aaa, 0.2) !default;
$col_button: #006dff !default;
$col_negative: #ff6d00 !default;

// Sizes.
$size_header: 42px !default;
$size_footer: 48px !default;