// Colours.
$col_header: rgba(#ddd, 0.95);
$col_footer: rgba(#fff, 0.95);
$col_border: rgba(#aaa, 0.2);
$col_button: #006dff;
$col_negative: #ff6d00;

// Sizes.
$size_header: 42px;
$size_footer: 48px;