body#index {
	background: #5bc5ff;
	background-image: linear-gradient(135deg,
		#5bc5ff 0%,
		#53b3e6 100%
	);

	#center {
		position: absolute;
		top: 50%;
		left: 50%;
		overflow: visible;
	}

	#phone {
		$size_scalar: 0.41;

		$width_phone: 966px;
		$height_phone: 2000px;
		$top_iframe: $height_phone / 6.5;
		$width_iframe: $width_phone - 186px;
		$height_iframe: $height_phone - $top_iframe - 304px;

		$width_phone: $width_phone * $size_scalar;
		$height_phone: $height_phone * $size_scalar;
		$top_iframe: $top_iframe * $size_scalar;
		$width_iframe: $width_iframe * $size_scalar;
		$height_iframe: $height_iframe * $size_scalar;

		position: absolute;
		left: -($width_phone / 2);
		top: -($height_phone / 2);
		-webkit-animation: fadeIn 2s 2s 1 both ease-in-out;
		animation: fadeIn 2s 2s 1 both ease-in-out;

		background-image: url("/Style/Img/Phone.svg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100%;

		width: $width_phone;
		height: $height_phone;

		margin: 0 auto;
		text-align: center;

		iframe {
			width: $width_iframe;
			height: $height_iframe;
			margin-top: $top_iframe;
			background: #fff;
			border: none;
			border-radius: 2px;
		}	
		
	}
}

@-webkit-keyframes fadeIn {
	from {
		top: 200%;
		opacity: 0;
		-webkit-transform: scale(2);
	}
}