ul {
	background: #fff;

	li {
		margin: 0 1rem;
		padding: 1rem 0;

		box-sizing: border-box;
		border-bottom: 1px solid $col_border;

		&:last-of-type {
			border-bottom: none;
		}

		a {
			display: block;
			color: inherit;
			text-decoration: none;
		}
	}
}