ul {
	background: #fff;

	li {
		padding: 0 1rem;
		margin: 0;

		box-sizing: border-box;
		border-bottom: 1px solid $col_border;

		&:last-of-type {
			border-bottom: none;
		}
		&:active {
			background: $col_button;
			color: #fff;
		}

		a {
			display: block;
			color: inherit;
			text-decoration: none;
			padding: 1rem 0;
		}
	}
}